@import "../imports.scss";

.date{
    height:15vw;
    .date_style{display:none;}

    .short_date{
      display:block;
      margin-right:0px;
      padding-top: 5vw;
      width:auto;

      font-size: 13vw;
      font-family:pantherregular, sans-serif;
        background: linear-gradient(-330deg, $blueB 0%, $blueB 25%, #8677E0 50%, $PinkB  75%, $PinkB 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
}

.clock{

        #clock_style{
        //margin-left:0px;
        //text-align: left;
        }
}

.nav{
  top:5vw;
  right:5vw;
  width: 45px;
  height:45px;
}

.btncontroller{
  display:none;
}
