@import "../imports.scss";

.date{

//  height:10vw;

  .date_style{
        display: block;
        margin-right:15vw;
        padding-top: 3vw;
        width:auto;
        text-align:center;
        font-size: 4.5vw;
        font-family:pantherregular, sans-serif;
          background: linear-gradient(-330deg, $blueB 0%, $blueB 25%, #8677E0 50%, $PinkB  75%, $PinkB 100%);
         -webkit-background-clip: text;
         -webkit-text-fill-color: transparent;
    }

  .short_date{ display:none;}

}

.clock{

      #clock_style{
          text-align: center;
          font-size:6vw;
      }
}

.nav{
  top:2.5vw;
  right:2.5vw;

}
