@import "../imports.scss";

/*

.titleA{

  a{

    font-size: 9vw;
  }
}*/
.camera01{
    .titleA{

      a{
        text-align: center;
        //font-size: 2vw;
      }
    }

}


.camera02{

.titleB{

        a{
          text-align: center;
          //font-size: 2vw;
        }
      }

  }
