@charset "UTF-8";
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset,
form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: ÔÇÖÔÇÖ;
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*
.article{
  @include nomdumixins(red,500px);
}
*/
/*
.article{
  @include nomdumixins(red,500px);
}
*/
/*
.article{
  @include nomdumixins(red,500px);
}
*/
.date {
  width: 100vw;
  height: auto;
  background-color: #323232;
  padding-bottom: 20px; }
  .date .date_style {
    margin-right: 15vw;
    padding-top: 3vw;
    width: auto;
    text-align: center;
    font-size: 3em;
    font-family: pantherregular, sans-serif;
    background: linear-gradient(-330deg, #B3D5D6 0%, #B3D5D6 25%, #8677E0 50%, #F8C8D6 75%, #F8C8D6 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; }

.clock {
  width: 100vw;
  height: 18vw;
  background-color: #404040; }
  .clock #clock_style {
    width: auto;
    text-align: center;
    font-size: 18vw;
    font-family: pantherregular, sans-serif;
    background: linear-gradient(-330deg, #F8C8D6 0%, #F8C8D6 25%, #8677E0 50%, #B3D5D6 75%, #B3D5D6 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; }

.controller {
  width: 100vw;
  height: 50px;
  background-color: #CD5C5C; }

.nav {
  position: fixed;
  top: 0px;
  right: 0px;
  width: 90px;
  height: 90px;
  background-color: #CD5C5C; }

/*
.article{
  @include nomdumixins(red,500px);
}
*/
.camera01 {
  width: 100vw;
  height: 40vw;
  background-color: #404040; }
  .camera01 .hudA {
    width: auto;
    height: 5vw;
    background-color: #323232; }
    .camera01 .hudA a {
      display: none; }
  .camera01 .titleA {
    width: auto;
    height: 5vw;
    background-color: #B3D5D6; }
    .camera01 .titleA input, .camera01 .titleA button {
      display: none; }
    .camera01 .titleA a {
      text-align: center;
      display: block !important;
      text-decoration: none;
      color: inherit; }
  .camera01 .cam01 {
    width: 100%;
    height: 60vw;
    background-color: grey; }

.camera02 {
  width: 100vw;
  height: 40vw;
  background-color: #404040; }
  .camera02 .huda {
    width: auto;
    height: 5vw;
    background-color: #B3D5D6; }

body {
  background-color: #404040; }

@media screen and (min-width: 1050px) {
  /* Import variables
  @import "../var_colors/colors.scss";
  @import "../var_colors/fonts.scss";
  @import "../var_colors/variables.scss";
  */
  /*
  .article{
    @include nomdumixins(red,500px);
  }
  */
  /*
  .article{
    @include nomdumixins(red,500px);
  }
  */
  .date {
    width: 60vw;
    height: 20vw;
    background-color: #404040; }

  /*
  .article{
    @include nomdumixins(red,500px);
  }
  */
  body {
    background-color: #B3D5D6; }

  /*
  h1{
    float:right;
  color:white;
  font-size: 8vw;
  font-family:pantherregular, sans-serif;
  font-weight:bold;
  background: linear-gradient(330deg, #BB514A 0%, #CB2882 25%, #8677E0 50%, #53DDE0  75%, #53DDE0 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-top: 0vw;
  }
  */ }
@font-face {
  font-family: 'pantherregular';
  src: url("../fonts/panther-webfont.woff2") format("woff2"), url("../fonts/panther-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

/*# sourceMappingURL=global_style.css.map */
