@charset "UTF-8";
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset,
form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: ’’;
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*
.article{
  @include nomdumixins(red,500px);
}
*/
/*
.article{
  @include nomdumixins(red,500px);
}
*/
/*
.article{
  @include nomdumixins(red,500px);
}
*/
.date {
  width: 100vw;
  height: auto;
  background-color: #323232;
  padding-bottom: 20px;
}
.date .date_style {
  margin-right: 15vw;
  padding-top: 3vw;
  width: auto;
  text-align: center;
  font-size: 3em;
  font-family: pantherregular, sans-serif;
  background: linear-gradient(-330deg, #FF8D6E 0%, #FF8D6E 25%, #8677E0 50%, #A7558F 75%, #A7558F 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.clock {
  width: 90vw;
  height: 18vw;
  background-color: #404040;
}
.clock #clock_style {
  padding-top: 10px;
  width: auto;
  text-align: center;
  font-size: 15vw;
  font-family: pantherregular, sans-serif;
  background: linear-gradient(-330deg, #5E4A89 0%, #A7558F 25%, #FF8D6E 50%, #FFC061 75%, #F9F870 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.controller {
  width: 100vw;
  height: 50px;
  background-color: #E26882;
  /*    animation: colorchange 100s linear infinite; /* animation-name followed by duration in seconds
        -webkit-animation: colorchange 100s linear infinite; /* Chrome and Safari
        -moz-animation: colorchange 100s linear infinite;
        -o-animation: colorchange 100s linear infinite;
  */
}
.controller .twoscreen {
  width: 100px;
  height: 50px;
  background-color: #FFC061;
}
.controller .ctrl2 {
  /*margin-left:200px;
  width:100px;
  height: 100px;
  background-color:$yellowS18 ;*/
}

.nav {
  position: fixed;
  top: 2.5vw;
  right: 2.5vw;
  width: 50px;
  height: 50px;
  background: url("../private/img/burger_icon.png") no-repeat center;
  background-image: url("../img/burger_icon.svg");
  background-size: contain;
}

.btncontroller {
  position: fixed;
  top: 120px;
  right: 2vw;
  width: 60px;
  height: 60px;
  background: url("../private/img/controller_icon.png") no-repeat center;
  background-image: url("../img/controller_icon.svg");
  background-size: contain;
}

@keyframes colorchange {
  0%, 100% {
    background: #1abc9c;
  }
  5% {
    background: #2ecc71;
  }
  10% {
    background: #3498db;
  }
  15% {
    background: #9b59b6;
  }
  20% {
    background: #34495e;
  }
  25% {
    background: #16a085;
  }
  30% {
    background: #27ae60;
  }
  35% {
    background: #2980b9;
  }
  40% {
    background: #8e44ad;
  }
  45% {
    background: #2c3e50;
  }
  50% {
    background: #f1c40f;
  }
  55% {
    background: #e67e22;
  }
  60% {
    background: #e74c3c;
  }
  65% {
    background: #ecf0f1;
  }
  70% {
    background: #95a5a6;
  }
  75% {
    background: #f39c12;
  }
  80% {
    background: #d35400;
  }
  85% {
    background: #c0392b;
  }
  90% {
    background: #bdc3c7;
  }
  95% {
    background: #7f8c8d;
  }
}
@-webkit-keyframes colorchange /* Safari and Chrome - necessary duplicate */ {
  0%, 100% {
    background: #1abc9c;
  }
  5% {
    background: #2ecc71;
  }
  10% {
    background: #3498db;
  }
  15% {
    background: #9b59b6;
  }
  20% {
    background: #34495e;
  }
  25% {
    background: #16a085;
  }
  30% {
    background: #27ae60;
  }
  35% {
    background: #2980b9;
  }
  40% {
    background: #8e44ad;
  }
  45% {
    background: #2c3e50;
  }
  50% {
    background: #f1c40f;
  }
  55% {
    background: #e67e22;
  }
  60% {
    background: #e74c3c;
  }
  65% {
    background: #ecf0f1;
  }
  70% {
    background: #95a5a6;
  }
  75% {
    background: #f39c12;
  }
  80% {
    background: #d35400;
  }
  85% {
    background: #c0392b;
  }
  90% {
    background: #bdc3c7;
  }
  95% {
    background: #7f8c8d;
  }
}
@-moz-keyframes colorchange /* Firefox */ {
  0%, 100% {
    background: #1abc9c;
  }
  5% {
    background: #2ecc71;
  }
  10% {
    background: #3498db;
  }
  15% {
    background: #9b59b6;
  }
  20% {
    background: #34495e;
  }
  25% {
    background: #16a085;
  }
  30% {
    background: #27ae60;
  }
  35% {
    background: #2980b9;
  }
  40% {
    background: #8e44ad;
  }
  45% {
    background: #2c3e50;
  }
  50% {
    background: #f1c40f;
  }
  55% {
    background: #e67e22;
  }
  60% {
    background: #e74c3c;
  }
  65% {
    background: #ecf0f1;
  }
  70% {
    background: #95a5a6;
  }
  75% {
    background: #f39c12;
  }
  80% {
    background: #d35400;
  }
  85% {
    background: #c0392b;
  }
  90% {
    background: #bdc3c7;
  }
  95% {
    background: #7f8c8d;
  }
}
@-o-keyframes colorchange /* Opera */ {
  0%, 100% {
    background: #1abc9c;
  }
  5% {
    background: #2ecc71;
  }
  10% {
    background: #3498db;
  }
  15% {
    background: #9b59b6;
  }
  20% {
    background: #34495e;
  }
  25% {
    background: #16a085;
  }
  30% {
    background: #27ae60;
  }
  35% {
    background: #2980b9;
  }
  40% {
    background: #8e44ad;
  }
  45% {
    background: #2c3e50;
  }
  50% {
    background: #f1c40f;
  }
  55% {
    background: #e67e22;
  }
  60% {
    background: #e74c3c;
  }
  65% {
    background: #ecf0f1;
  }
  70% {
    background: #95a5a6;
  }
  75% {
    background: #f39c12;
  }
  80% {
    background: #d35400;
  }
  85% {
    background: #c0392b;
  }
  90% {
    background: #bdc3c7;
  }
  95% {
    background: #7f8c8d;
  }
}
/* The side navigation menu */
.sidenav {
  height: 100%;
  /* 100% Full-height */
  width: 0;
  /* 0 width - change this with JavaScript */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Stay on top */
  top: 0;
  /* Stay at the top */
  right: 0;
  background-color: #323232;
  /* Black*/
  overflow-x: hidden;
  /* Disable horizontal scroll */
  padding-top: 60px;
  /* Place content 60px from the top */
  transition: 0.5s;
  /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.nav_links {
  padding-top: 50px;
}

.sidenav a {
  padding: 12px 8px 8px 50px;
  text-decoration: none;
  font-size: 30px;
  color: #E26882;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 1vw;
  right: 2vw;
  font-size: 80px;
  margin-left: 50px;
  color: #FFC061;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left 0.5s;
  padding: 20px;
}

/*
.article{
  @include nomdumixins(red,500px);
}
*/
.camera01 {
  width: 100vw;
  height: 50px;
  background-color: #404040;
}
.camera01 .hudA {
  width: auto;
  height: 50px;
  background-color: #5E4A89;
}
.camera01 .hudA a {
  display: none;
}
.camera01 .hudA input {
  margin-top: 10px;
  width: 20vw;
  height: 25px;
  border: none;
  text-align: center;
}
.camera01 .input_ {
  padding-left: 15vw;
}
.camera01 .titleA {
  width: 100%;
  height: 50px;
  background-color: #FF8D6E;
}
.camera01 .titleA input, .camera01 .titleA button {
  display: none;
}
.camera01 .titleA a {
  padding-top: 10px;
  text-align: center;
  display: block !important;
  text-decoration: none;
  color: inherit;
  font-size: 2em;
  font-family: pantherregular, sans-serif;
}
.camera01 .titleA h1 {
  padding-top: 1.2vw;
}
.camera01 .titleA .button_switch_hud {
  display: block !important;
  float: left;
  margin-top: -42px;
  height: 50px;
  width: 50px;
  background-color: #E26882;
}
.camera01 .cam01 {
  width: 100%;
  height: 60vw;
  background-color: grey;
}

.camera02 {
  width: 100vw;
  height: 50px;
  background-color: #404040;
}
.camera02 .hudB {
  width: auto;
  height: 50px;
  background-color: #5E4A89;
}
.camera02 .hudB a {
  display: none;
}
.camera02 .hudB input {
  margin-top: 10px;
  width: 20vw;
  height: 25px;
  border: none;
  text-align: center;
}
.camera02 .input_ {
  padding-left: 15vw;
}
.camera02 .titleB {
  width: auto;
  height: 50px;
  background-color: #FF8D6E;
}
.camera02 .titleB input, .camera02 .titleB button {
  display: none;
}
.camera02 .titleB a {
  padding-top: 10px;
  text-align: center;
  display: block !important;
  text-decoration: none;
  color: inherit;
  font-size: 2em;
  font-family: pantherregular, sans-serif;
}
.camera02 .titleB .button_switch_hud {
  display: block !important;
  float: left;
  margin-top: -42px;
  height: 50px;
  width: 50px;
  background-color: #E26882;
}
.camera02 .titleB h1 {
  padding-top: 1.2vw;
}
.camera02 .cam02 {
  width: 100%;
  height: 60vw;
  background-color: grey;
}

body {
  background-color: #404040;
}

@media screen and (min-width: 1050px) {
  /* Import variables
  @import "../var_colors/colors.scss";
  @import "../var_colors/fonts.scss";
  @import "../var_colors/variables.scss";
  */
  /*
  .article{
    @include nomdumixins(red,500px);
  }
  */
  /*
  .article{
    @include nomdumixins(red,500px);
  }
  */
  .head {
    display: flex;
    width: 100%;
  }

  .date {
    width: 50%;
    height: auto;
    background-color: #404040;
  }
  .date .date_style {
    margin-right: 0px;
  }

  .clock {
    width: 50%;
    height: auto;
    background-color: #323232;
  }
  .clock #clock_style {
    font-size: 7vw;
  }

  /*
  .article{
    @include nomdumixins(red,500px);
  }
  */
  .cameras {
    display: flex;
    width: 100%;
  }

  .camera01 {
    width: 50%;
    height: 90%;
    background-color: grey;
  }
  .camera01 .cam01 {
    width: 100%;
    height: 35%;
  }
  .camera01 .hudA input {
    width: 10vw;
  }
  .camera01 .input_ {
    padding-left: 10vw;
  }

  .camera02 {
    width: 50%;
    height: 50%;
    background-color: grey;
  }
  .camera02 .cam02 {
    width: 100%;
    height: 35%;
  }
  .camera02 .hudB input {
    width: 10vw;
  }
  .camera02 .input_ {
    padding-left: 10vw;
  }

  body {
    background-color: #E26882;
  }

  /*
  h1{
    float:right;
  color:white;
  font-size: 8vw;
  font-family:pantherregular, sans-serif;
  font-weight:bold;
  background: linear-gradient(330deg, #BB514A 0%, #CB2882 25%, #8677E0 50%, #53DDE0  75%, #53DDE0 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-top: 0vw;
  }
  */
}
@font-face {
  font-family: "pantherregular";
  src: url("../fonts/panther-webfont.woff2") format("woff2"), url("../fonts/panther-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
/*
.main{
  min-height: 100vh;
}
*/

/*# sourceMappingURL=global_style.css.map */
