@import "../imports.scss";



.date{

  width:100%;
  height:auto;
  background-color: $blackB;
  padding-bottom:10px;

    .date_style{display:none;}

    .short_date{
            display:block;
            margin-right:0px;
            padding-top: 20px;
            width:auto;
            font-size: 12.5vw;
            font-family:pantherregular, sans-serif;
              background: linear-gradient(-330deg, $blueB 0%, $blueB 25%, #8677E0 50%, $PinkB  75%, $PinkB 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
    }
}





.clock{

  width:100%;
  height:auto;
  background-color: $bgcA;

      #clock_style{
        padding-top:10px;
        padding-bottom:10px;
        width:auto;
        text-align:left;
        font-size:13vw;
        font-family:pantherregular, sans-serif;
        background: linear-gradient(-330deg, $purpleS18  0%, $magentaS18 25%, $orangeS18 50%, $orangelightS18  75%,$yellowS18 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }

}



.controller{
  width:100vw;
  height:50px;
  background-color: $build;

    .controller_style{

    }

    .twoscreen{
      width:100px;
      height: 50px;
      background-color:$orangelightS18 ;
    }

    .ctrl2{
      /*margin-left:200px;
      width:100px;
      height: 100px;
      background-color:$yellowS18 ;*/
    }

}

.nav{
   position:fixed;
   top:20px;
   right:20px;
   width: 45px;
   height:45px;
   //background-color:$build ;
   background: url("../private/img/burger_icon.png") no-repeat center;//fallback
   background-image: url('../img/burger_icon.svg');
   background-size: contain;
   opacity:0.7;
}



.btncontroller{
  position:fixed;
  top:80px;
  right:20px;
 width:45px;
 height:45px;
 //background-color:$build ;
 background: url("../private/img/controller_icon.png") no-repeat center;//fallback
 background-image: url('../img/controller_icon.svg');
 background-size: contain;
 opacity:0.6;
}
