@import "../imports.scss";



.date{
  width:100vw;
//  height:auto;
  height:auto;
  background-color: $blackB;
  padding-bottom:20px;
/*
  .date_style{
    display: block;
    margin-right:15vw;
    padding-top: 3vw;
    width:auto;
    text-align:center;
    font-size: 3em;
    font-family:pantherregular, sans-serif;
      background: linear-gradient(-330deg, $blueB 0%, $blueB 25%, #8677E0 50%, $PinkB  75%, $PinkB 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

}*/
  .date_style{

    display: block;
    margin-right:15vw;
    padding-top: 3vw;
    width:auto;
    text-align:center;
    font-size: 3em;
    font-family:pantherregular, sans-serif;
      background: linear-gradient(-330deg, $blueB 0%, $blueB 25%, #8677E0 50%, $PinkB  75%, $PinkB 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

  .short_date{ display:none;}
}



.clock{

  width:90vw;
  height:18vw;
  background-color: $bgcA;

      #clock_style{
        padding-top:10px;
        width:auto;
        text-align:center;
        font-size:15vw;
        font-family:pantherregular, sans-serif;
        background: linear-gradient(-330deg, $purpleS18  0%, $magentaS18 25%, $orangeS18 50%, $orangelightS18  75%,$yellowS18 100%);

      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      }

}



.controller{
  width:100vw;
  height:50px;
  background-color: $build;

    .controller_style{

    }

    .twoscreen{
      width:100px;
      height: 50px;
      background-color:$orangelightS18 ;
    }

    .ctrl2{
      /*margin-left:200px;
      width:100px;
      height: 100px;
      background-color:$yellowS18 ;*/
    }

}

.nav{
   position:fixed;
   top:12vw;
   right:3vw;
   width: 100px;
   height:100px;
   //background-color:$build ;
   background: url("../private/img/burger_icon.png") no-repeat center;//fallback
   background-image: url('../img/burger_icon.svg');
   background-size: contain;
   opacity:0.7;
}

.btncontroller{
/*  position:fixed;
  top:80px;
  right:2vw;
 width:30px;
 height:30px;
 //background-color:$build ;
 background: url("../private/img/controller_icon.png") no-repeat center;//fallback
 background-image: url('../img/controller_icon.svg');
 background-size: contain;
 opacity:0.7;*/
}
