@import "../imports.scss";

.camera01{
    width: 100vw;
    height:50px;
    background-color: #404040;

    .hudA{
      width: auto;
      height:5vw;
      background-color:$blackB;
        a{
          display:none;
        }
    }



    .titleA{
      width: auto;
      height:50px;
      background-color:$blueB;
          input, button{
            display:none;
          }

          a{
            text-align: center;
            display: block !important;
            text-decoration: none;
            color: inherit;
            font-size: 2em;
            font-family:pantherregular, sans-serif;
          }

         .button_switch_hud{
            float:right;
            margin-top:-47px;
            height: 50px;
            width: 50px;
            background-color: $build;
          }
    }
.titleA   h1{
    padding-top:1.2vw;
  }

    .cam01{
      //margin-top: 3vw;
      width: 100%;
      height:60vw;
      background-color: grey;
    }
}


.camera02{
  width:100vw;
  height: 40vw;
  background-color: #404040;

  .huda{
    width: auto;
    height:5vw;
    background-color:$blueB;
  }

}
