@import "../imports.scss";

.cameras{

  width: 100%;
}

.camera01{

    width: 100%;
    height:50px;
    background-color: #404040;

    .hudA{
      width: auto;
      height:50px;
      background-color:$purpleS18;
        a{
          display:none;
        }

        input{
          margin-top:12px;
          width: 25%;
          height: 25px;
          //background-color: $orangelightS18;
          border:none;
          text-align:center;
        }
    }

  .input_{
    padding-left:10%;
  }

    .titleA{
      width: auto;
      height:auto;

      background-color:$blueB;
          input, button{
            display:none;
          }

          a{
            margin-right: 10px;
            padding-top: 10px;
            padding-bottom:13px;
            text-align: right;
            display: block !important;
            text-decoration: none;
            color: inherit;
            font-size: 1.7em;
            font-family:pantherregular, sans-serif;
          }



         .button_switch_hud{
           display: block !important;
            float:left;
            margin-top:-50px;
            height: 50px;
            width: 45px;
            background-color: $magentaS18;
          }
    }

#subhda{
    margin-top:10px;
    width: 15%;
    height: 27px;
    //background-color: $orangelightS18;
    border:none;
    text-align:center;
}

    .cam01{
      margin-top: -5px;
      width: 100%;
      height:60vw;
      background-color: grey;
    }
}



// *************** CAM02************
.camera02{
    //display:none;
    margin-top:59vw;//modif pour add l'audio panel
      width: 100%;
    height:50px;
    background-color: #404040;

    .hudB{
      width: auto;
      height:50px;
      background-color:$purpleS18;
        a{
          display:none;
        }

        input{
          margin-top:10px;
          width: 25%;
          height: 25px;
          //background-color: $orangelightS18;
          border:none;
          text-align:center;
        }
    }
    .input_{
      padding-left:10%;
    }


    .titleB{
      width: auto;
      height:auto;
      padding-bottom:10px;
      background-color:$blueB;
          input, button{
            display:none;
          }

          a{
            margin-right: 10px;
            padding-top: 12px;
            text-align: right;
            display: block !important;
            text-decoration: none;
            color: inherit;
            font-size: 1.7em;
            font-family:pantherregular, sans-serif;
          }

         .button_switch_hud{
           display: block !important;
            float:left;
            margin-top:-39px;
            height: 50px;
            width: 50px;
            background-color:$magentaS18;
          }
    }

.titleB   h1{
    padding-top:50px;
  }

    .cam02{
      //margin-top: 3vw;
      width: 100%;
      height:60vw;
      background-color: grey;
    }

    #subhdb{
        margin-top:10px;
        width: 15%;
        height: 27px;
        //background-color: $orangelightS18;
        border:none;
        text-align:center;
    }
}
