@import "../imports.scss";

/* The side navigation menu */
.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
   right: 0;
  background-color: $blackB; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */

}

/* The navigation menu links */
.nav_links{
  padding-top:50px;
}

.Sidenavb1{
  width:50px;
  height:50px;
  background-color: $purpleS18;
}
.Sidenavb2{
  width:50px;
  height:50px;
  background-color: $magentaS18;
}
.Sidenavb3{
  width:50px;
  height:50px;
  background-color: $redS18;
}
.Sidenavb4{
  width:50px;
  height:50px;
  background-color: $orangeS18;
}
.Sidenavb5{
  width:50px;
  height:50px;
  background-color: $orangelightS18;
}
.Sidenavb6{
  width:50px;
  height:50px;
  background-color: $yellowS18;
}



.sidenav a {

  padding: 12px 8px 8px 25px;
  text-decoration: none;
  font-size: 30px;
  color: $redS18;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0px;
  right: 20px;
  font-size: 60px;
  margin-left: 50px;
  color:$redS18;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-Right .5s;

}
