/*
.article{
  @include nomdumixins(red,500px);
}
*/
/*
.article{
  @include nomdumixins(red,500px);
}
*/
.date {
  width: 100vw;
  height: auto;
  background-color: #323232;
  padding-bottom: 20px; }
  .date .date_style {
    margin-right: 15vw;
    padding-top: 3vw;
    width: auto;
    text-align: center;
    font-size: 3em;
    font-family: pantherregular, sans-serif;
    background: linear-gradient(-330deg, #B3D5D6 0%, #B3D5D6 25%, #8677E0 50%, #F8C8D6 75%, #F8C8D6 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; }

.clock {
  width: 100vw;
  height: 18vw;
  background-color: #404040; }
  .clock #clock_style {
    width: auto;
    text-align: center;
    font-size: 18vw;
    font-family: pantherregular, sans-serif;
    background: linear-gradient(-330deg, #F8C8D6 0%, #F8C8D6 25%, #8677E0 50%, #B3D5D6 75%, #B3D5D6 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; }

.controller {
  width: 100vw;
  height: 50px;
  background-color: #CD5C5C; }

.nav {
  position: fixed;
  top: 0px;
  right: 0px;
  width: 90px;
  height: 90px;
  background-color: #CD5C5C; }

/* The side navigation menu */
.sidenav {
  height: 100%;
  /* 100% Full-height */
  width: 0;
  /* 0 width - change this with JavaScript */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Stay on top */
  top: 0;
  /* Stay at the top */
  right: 0;
  background-color: #111;
  /* Black*/
  overflow-x: hidden;
  /* Disable horizontal scroll */
  padding-top: 60px;
  /* Place content 60px from the top */
  transition: 0.5s;
  /* 0.5 second transition effect to slide in the sidenav */ }

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s; }

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1; }

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px; }

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s;
  padding: 20px; }

/*
.article{
  @include nomdumixins(red,500px);
}
*/
.camera01 {
  width: 100vw;
  height: 50px;
  background-color: #404040; }
  .camera01 .hudA {
    width: auto;
    height: 5vw;
    background-color: #323232; }
    .camera01 .hudA a {
      display: none; }
  .camera01 .titleA {
    width: auto;
    height: 50px;
    background-color: #B3D5D6; }
    .camera01 .titleA input, .camera01 .titleA button {
      display: none; }
    .camera01 .titleA a {
      padding-top: 10px;
      text-align: center;
      display: block !important;
      text-decoration: none;
      color: inherit;
      font-size: 2em;
      font-family: pantherregular, sans-serif; }
    .camera01 .titleA .button_switch_hud {
      display: block !important;
      float: right;
      margin-top: -42px;
      height: 50px;
      width: 50px;
      background-color: #CD5C5C; }
  .camera01 .titleA h1 {
    padding-top: 1.2vw; }
  .camera01 .cam01 {
    width: 100%;
    height: 60vw;
    background-color: grey; }

.twoscreen {
  width: 100px;
  height: 100px;
  background-color: #FFC061; }

.camera02 {
  margin-top: 70vw;
  width: 100vw;
  height: 50px;
  background-color: #404040; }
  .camera02 .hudB {
    width: auto;
    height: 5vw;
    background-color: #323232; }
    .camera02 .hudB a {
      display: none; }
  .camera02 .titleB {
    width: auto;
    height: 50px;
    background-color: #B3D5D6; }
    .camera02 .titleB input, .camera02 .titleB button {
      display: none; }
    .camera02 .titleB a {
      padding-top: 10px;
      text-align: center;
      display: block !important;
      text-decoration: none;
      color: inherit;
      font-size: 2em;
      font-family: pantherregular, sans-serif; }
    .camera02 .titleB .button_switch_hud {
      display: block !important;
      float: right;
      margin-top: -42px;
      height: 50px;
      width: 50px;
      background-color: #CD5C5C; }
  .camera02 .titleB h1 {
    padding-top: 1.2vw; }
  .camera02 .cam02 {
    width: 100%;
    height: 60vw;
    background-color: grey; }

body {
  background-color: #404040; }

/*# sourceMappingURL=style_mobil.css.map */
