/*
.article{
  @include nomdumixins(red,500px);
}
*/
/*
.article{
  @include nomdumixins(red,500px);
}
*/
.date {
  width: 100%;
  height: auto;
  background-color: #323232;
  padding-bottom: 5px; }
  .date .date_style {
    display: none; }
  .date .short_date {
    display: block;
    margin-right: 0px;
    padding-top: 10px;
    width: auto;
    font-size: 12.5vw;
    font-family: pantherregular, sans-serif;
    background: linear-gradient(-330deg, #FF8D6E 0%, #FF8D6E 25%, #8677E0 50%, #A7558F 75%, #A7558F 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; }

.clock {
  width: 100%;
  height: auto;
  background-color: #404040; }
  .clock #clock_style {
    padding-top: 5px;
    padding-bottom: 5px;
    width: auto;
    text-align: left;
    font-size: 13vw;
    font-family: pantherregular, sans-serif;
    background: linear-gradient(-330deg, #5E4A89 0%, #A7558F 25%, #FF8D6E 50%, #FFC061 75%, #F9F870 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; }

.controller {
  width: 100vw;
  height: 50px;
  background-color: #E26882; }
  .controller .twoscreen {
    width: 100px;
    height: 50px;
    background-color: #FFC061; }
  .controller .ctrl2 {
    /*margin-left:200px;
    width:100px;
    height: 100px;
    background-color:$yellowS18 ;*/ }

.nav {
  position: fixed;
  top: 1%;
  right: 20px;
  width: 45px;
  height: 45px;
  background: url("../private/img/burger_icon.png") no-repeat center;
  background-image: url("../img/burger_icon.svg");
  background-size: contain;
  opacity: 0.7; }

/*.btncontroller{
  position:fixed;
  top:80px;
  right:20px;
 width:45px;
 height:45px;
 //background-color:$build ;
 background: url("../private/img/controller_icon.png") no-repeat center;//fallback
 background-image: url('../img/controller_icon.svg');
 background-size: contain;
 opacity:0.6;
}*/
/*
.article{
  @include nomdumixins(red,500px);
}
*/
/* The side navigation menu */
.sidenav {
  height: 100%;
  /* 100% Full-height */
  width: 0;
  /* 0 width - change this with JavaScript */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Stay on top */
  top: 0;
  /* Stay at the top */
  right: 0;
  background-color: #323232;
  /* Black*/
  overflow-x: hidden;
  /* Disable horizontal scroll */
  padding-top: 60px;
  /* Place content 60px from the top */
  transition: 0.5s;
  /* 0.5 second transition effect to slide in the sidenav */ }

/* The navigation menu links */
.nav_links {
  padding-top: 50px; }

.Sidenavb1 {
  width: 50px;
  height: 50px;
  background-color: #5E4A89; }

.Sidenavb2 {
  width: 50px;
  height: 50px;
  background-color: #A7558F; }

.Sidenavb3 {
  width: 50px;
  height: 50px;
  background-color: #E26882; }

.Sidenavb4 {
  width: 50px;
  height: 50px;
  background-color: #FF8D6E; }

.Sidenavb5 {
  width: 50px;
  height: 50px;
  background-color: #FFC061; }

.Sidenavb6 {
  width: 50px;
  height: 50px;
  background-color: #F9F870; }

.sidenav a {
  padding: 12px 8px 8px 25px;
  text-decoration: none;
  font-size: 30px;
  color: #E26882;
  display: block;
  transition: 0.3s; }

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1; }

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0px;
  right: 20px;
  font-size: 60px;
  margin-left: 50px;
  color: #E26882; }

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-Right .5s; }

/*
.article{
  @include nomdumixins(red,500px);
}
*/
.cameras {
  width: 100%; }

.camera01 {
  width: 100%;
  height: 50px;
  background-color: #404040; }
  .camera01 .hudA {
    width: auto;
    height: 50px;
    background-color: #5E4A89; }
    .camera01 .hudA a {
      display: none; }
    .camera01 .hudA input {
      margin-top: 10px;
      width: 25%;
      height: 25px;
      border: none;
      text-align: center; }
  .camera01 .input_ {
    padding-left: 10%; }
  .camera01 .titleA {
    width: auto;
    height: auto;
    background-color: #FF8D6E; }
    .camera01 .titleA input, .camera01 .titleA button {
      display: none; }
    .camera01 .titleA a {
      margin-right: 10px;
      padding-top: 7px;
      padding-bottom: 10px;
      text-align: right;
      display: block !important;
      text-decoration: none;
      color: inherit;
      font-size: 1.7em;
      font-family: pantherregular, sans-serif; }
    .camera01 .titleA .button_switch_hud {
      display: block !important;
      float: left;
      margin-top: -45px;
      height: 40px;
      width: 40px;
      background-color: #A7558F; }
  .camera01 #subhda {
    margin-top: 10px;
    width: 15%;
    height: 27px;
    border: none;
    text-align: center; }
  .camera01 .cam01 {
    margin-top: -5px;
    width: 100%;
    height: 60vw;
    background-color: grey; }

.camera02 {
  margin-top: 61vw;
  width: 100%;
  height: 50px;
  background-color: #404040; }
  .camera02 .hudB {
    width: auto;
    height: 50px;
    background-color: #5E4A89; }
    .camera02 .hudB a {
      display: none; }
    .camera02 .hudB input {
      margin-top: 10px;
      width: 25%;
      height: 25px;
      border: none;
      text-align: center; }
  .camera02 .input_ {
    padding-left: 10%; }
  .camera02 .titleB {
    width: auto;
    height: auto;
    padding-bottom: 10px;
    background-color: #FF8D6E; }
    .camera02 .titleB input, .camera02 .titleB button {
      display: none; }
    .camera02 .titleB a {
      margin-right: 10px;
      padding-top: 12px;
      text-align: right;
      display: block !important;
      text-decoration: none;
      color: inherit;
      font-size: 1.7em;
      font-family: pantherregular, sans-serif; }
    .camera02 .titleB .button_switch_hud {
      display: block !important;
      float: left;
      margin-top: -39px;
      height: 50px;
      width: 50px;
      background-color: #A7558F; }
  .camera02 .titleB h1 {
    padding-top: 50px; }
  .camera02 .cam02 {
    width: 100%;
    height: 60vw;
    background-color: grey; }
  .camera02 #subhdb {
    margin-top: 10px;
    width: 15%;
    height: 27px;
    border: none;
    text-align: center; }

body {
  background-color: #404040; }

/*# sourceMappingURL=style_mobil.css.map */
