/*
.article{
  @include nomdumixins(red,500px);
}
*/
/*
.article{
  @include nomdumixins(red,500px);
}
*/
.date {
  width: 100vw;
  height: auto;
  background-color: #323232;
  padding-bottom: 20px; }
  .date .date_style {
    display: block;
    margin-right: 15vw;
    padding-top: 3vw;
    width: auto;
    text-align: center;
    font-size: 3em;
    font-family: pantherregular, sans-serif;
    background: linear-gradient(-330deg, #FF8D6E 0%, #FF8D6E 25%, #8677E0 50%, #A7558F 75%, #A7558F 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; }
  .date .short_date {
    display: none; }

.clock {
  width: 90vw;
  height: 18vw;
  background-color: #404040; }
  .clock #clock_style {
    padding-top: 10px;
    width: auto;
    text-align: center;
    font-size: 15vw;
    font-family: pantherregular, sans-serif;
    background: linear-gradient(-330deg, #5E4A89 0%, #A7558F 25%, #FF8D6E 50%, #FFC061 75%, #F9F870 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; }

.controller {
  width: 100vw;
  height: 50px;
  background-color: #E26882; }
  .controller .twoscreen {
    width: 100px;
    height: 50px;
    background-color: #FFC061; }
  .controller .ctrl2 {
    /*margin-left:200px;
    width:100px;
    height: 100px;
    background-color:$yellowS18 ;*/ }

.nav {
  position: fixed;
  top: 2vw;
  right: 2vw;
  width: 30px;
  height: 30px;
  background: url("../private/img/burger_icon.png") no-repeat center;
  background-image: url("../img/burger_icon.svg");
  background-size: contain;
  opacity: 0.7; }

.btncontroller {
  position: fixed;
  top: 80px;
  right: 2vw;
  width: 30px;
  height: 30px;
  background: url("../private/img/controller_icon.png") no-repeat center;
  background-image: url("../img/controller_icon.svg");
  background-size: contain;
  opacity: 0.7; }

/*
.article{
  @include nomdumixins(red,500px);
}
*/
/* The side navigation menu */
.sidenav {
  height: 100%;
  /* 100% Full-height */
  width: 0;
  /* 0 width - change this with JavaScript */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Stay on top */
  top: 0;
  /* Stay at the top */
  right: 0;
  background-color: #323232;
  /* Black*/
  overflow-x: hidden;
  /* Disable horizontal scroll */
  padding-top: 60px;
  /* Place content 60px from the top */
  transition: 0.5s;
  /* 0.5 second transition effect to slide in the sidenav */ }

/* The navigation menu links */
.nav_links {
  padding-top: 50px; }

.sidenav a {
  padding: 12px 8px 8px 50px;
  text-decoration: none;
  font-size: 30px;
  color: #E26882;
  display: block;
  transition: 0.3s; }

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1; }

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 1vw;
  right: 2vw;
  font-size: 80px;
  margin-left: 50px;
  color: #FFC061; }

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s;
  padding: 20px; }

/*
.article{
  @include nomdumixins(red,500px);
}
*/
.camera01 {
  width: 100vw;
  height: 50px;
  background-color: #404040; }
  .camera01 .hudA {
    width: auto;
    height: 50px;
    background-color: #5E4A89; }
    .camera01 .hudA a {
      display: none; }
    .camera01 .hudA input {
      margin-top: 10px;
      width: 20vw;
      height: 25px;
      border: none;
      text-align: center; }
  .camera01 .input_ {
    padding-left: 15vw; }
  .camera01 .titleA {
    width: 100%;
    height: 50px;
    background-color: #FF8D6E; }
    .camera01 .titleA input, .camera01 .titleA button {
      display: none; }
    .camera01 .titleA a {
      padding-top: 10px;
      text-align: center;
      display: block !important;
      text-decoration: none;
      color: inherit;
      font-size: 2em;
      font-family: pantherregular, sans-serif; }
    .camera01 .titleA h1 {
      padding-top: 1.2vw; }
    .camera01 .titleA .button_switch_hud {
      display: block !important;
      float: left;
      margin-top: -42px;
      height: 50px;
      width: 50px;
      background-color: #A7558F; }
  .camera01 .cam01 {
    width: 100%;
    height: 60vw;
    background-color: grey; }

.camera02 {
  margin-top: 65vw;
  width: 100vw;
  height: 50px;
  background-color: #404040; }
  .camera02 .hudB {
    width: auto;
    height: 50px;
    background-color: #5E4A89; }
    .camera02 .hudB a {
      display: none; }
    .camera02 .hudB input {
      margin-top: 10px;
      width: 20vw;
      height: 25px;
      border: none;
      text-align: center; }
  .camera02 .input_ {
    padding-left: 15vw; }
  .camera02 .titleB {
    width: auto;
    height: 50px;
    background-color: #FF8D6E; }
    .camera02 .titleB input, .camera02 .titleB button {
      display: none; }
    .camera02 .titleB a {
      padding-top: 10px;
      text-align: center;
      display: block !important;
      text-decoration: none;
      color: inherit;
      font-size: 2em;
      font-family: pantherregular, sans-serif; }
    .camera02 .titleB .button_switch_hud {
      display: block !important;
      float: left;
      margin-top: -42px;
      height: 50px;
      width: 50px;
      background-color: #A7558F; }
  .camera02 .titleB h1 {
    padding-top: 1.2vw; }
  .camera02 .cam02 {
    width: 100%;
    height: 60vw;
    background-color: grey; }

body {
  background-color: #404040; }

/*# sourceMappingURL=style_mobil.css.map */
