@import "../imports.scss";

.head{
  display :flex;
  width: 100%;
}

.date{

  width:50%;
  height:auto;
  background-color: $bgcA;

  .date_style{
    margin-right:0px;
    display: block;
  //  margin-right:15vw;
    padding-top: 3vw;
    width:auto;
    text-align:center;
    font-size: 3em;
    font-family:pantherregular, sans-serif;
      background: linear-gradient(-330deg, $blueB 0%, $blueB 25%, #8677E0 50%, $PinkB  75%, $PinkB 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  }

  .short_date{display:none;}

}

.clock{

  width:50%;
  height:auto;

  background-color: $blackB;
  #clock_style{
    font-size: 7vw;
    text-align: center;
  }
}

.nav{
  top:2vw;
  right:2vw;
}
