@import "../imports.scss";

.cameras{
  display:flex;
  width: 100%;
}
.camera01{
  //margin-top: 3vw;
  width: 50%;
  height:90%;//no influence
  background-color: grey;


      .cam01{
        width: 100%; //Seems Link to Height variable
        height:35vw;
      }

.hudA{
  display:block;
  width: auto;

  input{

  }

}

.titleA{

  a{
    text-align: center;
    //font-size: 2vw;
  }
}


  .input_{
    padding-left: 5%;
  }
}


//*************************************************************//

.camera02{
  margin-top: 0vw;
  width: 50%;
  height:50%;//no influence
  background-color: grey;


      .cam02{
        width: 100%; //Seems Link to Height variable
        height:35vw;
      }

      .hudB{
        display:block;
        width: auto;
        input{

        }

      }


.titleB{

        a{
          text-align: center;
          //font-size: 2vw;
        }
      }

        .input_{
          padding-left: 5%;
        }

}
